embedded/week11/sent/partA-2/flows.json
[
    {
        "id": "3b7537609e202127",
        "type": "tab",
        "label": "Stu-Node-RED-AHT20-LED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1f167c28917c074",
        "type": "mqtt in",
        "z": "3b7537609e202127",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 184,
        "y": 267,
        "wires": [
            [
                "83a3920fab76a084",
                "7747c612f66e08ab",
                "217d35cbf2a7a9ca"
            ]
        ]
    },
    {
        "id": "83a3920fab76a084",
        "type": "debug",
        "z": "3b7537609e202127",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 381,
        "y": 234,
        "wires": []
    },
    {
        "id": "b1633ffeb99722a5",
        "type": "mqtt in",
        "z": "3b7537609e202127",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 173,
        "y": 151,
        "wires": [
            [
                "48a390892c079bba",
                "d2a52dd98b2eb1c4"
            ]
        ]
    },
    {
        "id": "48a390892c079bba",
        "type": "debug",
        "z": "3b7537609e202127",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 118,
        "wires": []
    },
    {
        "id": "d2a52dd98b2eb1c4",
        "type": "ui_gauge",
        "z": "3b7537609e202127",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 360,
        "y": 178,
        "wires": []
    },
    {
        "id": "7747c612f66e08ab",
        "type": "ui_chart",
        "z": "3b7537609e202127",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 381,
        "y": 294,
        "wires": [
            []
        ]
    },
    {
        "id": "217d35cbf2a7a9ca",
        "type": "function",
        "z": "3b7537609e202127",
        "name": "Temp. Condition",
        "func": "var temp = msg.payload;\n\nif (temp > 20) {\n    msg.headers = {\n        'content-type': 'application/x-www-form-urlencoded',\n        'Authorization': 'Bearer MsCvhABdGxtUnhNJboG0XybSb0CWPGVF7WRag76KoqF'\n    };\n    msg.payload = { 'message': 'Temp: ' + temp };\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "c055f803d17c286e"
            ]
        ]
    },
    {
        "id": "c055f803d17c286e",
        "type": "http request",
        "z": "3b7537609e202127",
        "name": "Line Notify",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "42d4aae387397f5a",
        "type": "mqtt out",
        "z": "3b7537609e202127",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "0a76cabd45ed418f",
        "type": "ui_switch",
        "z": "3b7537609e202127",
        "name": "",
        "label": "Output",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 169,
        "y": 360,
        "wires": [
            [
                "42d4aae387397f5a"
            ]
        ]
    },
    {
        "id": "e6b2a4a10ffbc975",
        "type": "ui_slider",
        "z": "3b7537609e202127",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "42d4aae387397f5a"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]